/*
Colour Palette
#B29100 - Dark Goldenrod
#28536B - Blue Sapphire
#7EA8BE - Pewter Blue
#F6F0ED - Isabelline
#260C1A - Dark Purple
*/

* {
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    color: #260C1A;
}

/* Start of header style */

header {
    background-color: #28536B;
    font-family: 'Inter', sans-serif;
    padding: 8px;
}

.clickable-logo-text {
    margin-left: 16px;
}

.clickable-logo-text a {
    text-decoration: none;
}

h1 {
    display: inline-block;
    vertical-align: 50%;
    margin-left: 16px;
    color: #F6F0ED;
}

h1 #main-title-name {
    font-size: 1.2em;
    text-transform: uppercase;
}

h1 #main-title-role {
    padding-left: 16%;
    text-transform: uppercase;
    font-size: 0.64em;
}

/* Start of main style */

main {
    padding: 64px 40px;
    background-color: #F6F0ED;
}

.intro-text {
    margin-bottom: 4em;
}

h2 {
    margin-bottom: 1.6em;
}

h3 {
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    text-decoration: underline;
}

.intro-subheadings {
    margin-bottom: 0.8em;
}

p {
    margin-bottom: 1em;
}

figure {
    margin-bottom: 1.3em;
    padding: 0.8em;
    border-left: 4px solid #B29100;
    background-color: rgba(178, 145, 0, 0.4);
}

figure figcaption{
    text-indent: 2em;
    font-size: 0.8em;
}

#blog-box {
    width: 32%;
    border: 1px solid #7EA8BE;
    border-radius: 4px;
    box-shadow: 0 0 4px #7EA8BE;
    margin-left: 1em;
    padding: 22px 16px;
}

.box-heading {
    padding-inline-start: 1.3em;
    margin-bottom: 0.8em;
}

.sprint-list {
    line-height: 2;
    list-style-type: none;
    padding-inline-start: 1em;
}

.sprint-list li {
    margin-bottom: 0.8em;
}

.sprint-list a {
    color: #28536B;
    margin-left: 2em;
}

.sprint-list a:hover {
    color: #7EA8BE;
}

.example-images {
    padding-top: 0.8em;
    padding-bottom: 0.8em;  
}

.example-images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1.6em;
}

.q-and-a-block {
    margin-bottom: 1.6em;
}

/* Start of footer style */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 3em;
    min-height: 3em;
    background-color: #28536B;
    text-align: right;
}

footer a {
    color: #F6F0ED;
    margin-right: 10%;
    padding: 4px;
}

footer a:hover {
    color: #28536B;
    background-color: #F6F0ED;
    border-radius: 4px;
}

footer a:focus {
    color: #28536B;
    background-color: #F6F0ED;
    border-radius: 4px;
}